{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style="color:White">Portofolio</h1>
<hr/>
<section name="bio">
	<h2 style="color:White"><b>Bio</b></h2>
	<img class="img-circle" align=left src="https://lh3.googleusercontent.com/-pq-cM3ZudkI/AAAAAAAAAAI/AAAAAAAAAco/PY4xg3P7_I0/photo.jpg" style= border-radius: 50%; width= "10%" height= "10%">
	<br>
	<br>
	<p style="color:White">
		&emsp;{{content}}
	</p>
	<p style="color:White"> &emsp;This is my new lab ppw landing page, Enjoy it! ^_^</p>    
	<br>
	<br>
	<br>
</section>
<hr/>
<section name="about_me">
	<br>
	<h2 style="color:White"><b>List</b></h2>
	<ul>
		{% for ii in about_me %}
		<li style="color:White"> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
<section name="form">
	<h2 style="color:White"><b>Send Message</b></h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}" style="color:White">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>

{% endblock %}

