{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 30px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    .img-circle {
        margin-left: 380px; /* margin is -0.5 * dimension */
        margin-top: -200px;
        border-radius: 50%;
        
    }
</style>
	<br>
	<h4 class="status" id="test" style="color:White">Hello, this is {{ name }}. {{ content }}.</h4>
<div class="center_screen">
    <img class="img-circle" align=center src="https://lh3.googleusercontent.com/-pq-cM3ZudkI/AAAAAAAAAAI/AAAAAAAAAco/PY4xg3P7_I0/photo.jpg" width= "60%">
</div>
{% endblock %}
