{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.4.1.css">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 5">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <title>
        {% block title %} Lab 8 By {{author}} {% endblock %}
    </title>
</head>
<body>
    <script src="{% static 'js/lab_8.js' %}"></script>
    <header>
    <h1>LAB 8</h1>
    </header>
    
    <content>
        {% block content %}
            <!-- content goes here -->
        {% endblock %}
    </content>
    
    <footer>
    
    </footer>
    <script src="{% static 'js/lab8.js' %}"></script>
    
</body>
